@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#515e3c;
    --secondary-color:#503047;
    --accent1-color:#a28f6a;
    --accent2-color:#2c497f;

    --heading-font:'DM Sans', serif;
    --paragraph-font:'DM Sans', serif;

    --nav-background-color: #ffba98;
    --nav-link-color: #aeae;
    --nav-hover-link-color: #3CDBD3;
    --nav-hover-background-color: #E8E288;
}

header {
    color: var(--primary-color);
    padding: 20px;
    font-family: var(--heading-font);
    display:grid;
    grid-template-columns: 40% 50%;
}

header > img {
    display: flex;
    justify-self: center;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    text-decoration-line: none;
    font-size: medium;
    font-weight: 700;
}

p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.673);
    padding: 30px;
    top: 150px;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    padding: 20px;
    top: 300px;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.673);
    margin: 0 20px;
    width: 75%;
}

.hero > article > img {
    float: right;
    width: 250px;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

/* history section */
.history {
    display: inline-block;
    padding: 4rem;
}
.history div {
    display: flex;
}

.history img {
    max-width: 250px;
}

.history h2{
    padding: 10px;
    text-align: center;
    margin: 1em;
}

/* figure */
.image-display{
    margin-bottom: 5rem;
    padding: 4rem;
    text-align: center;
}

.image-display h2 {
    margin: 2em;
}

.image-display div {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

figure img {
    height: 150px;
}

/* footer */
footer {
    display:grid;
    grid-template-columns: 25% 50% 25%;
    background-color: var(--accent1-color);
    padding: 1rem;
}

footer p {
    text-align: center;
    grid-column-start: 2;
    color:#000;
}


footer div {
    display: flex;
    justify-content:center;
    align-items: center;
    grid-column-start:3;
    gap: 1rem;

}

footer a {
    text-decoration: none;
}

footer img {
    text-decoration: none;
    width: 25px;
}